/* Soluzione qui */

@media screen and (min-width:768px) {

    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 50px;
    }

    .recipe-name {
        font-size: 30px;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes li {
        margin: 0;
        display: block;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        row-gap: 30px;
    }

    .btn {
        padding: 10px 50px;
    }

    .ads {
        display: block;
    }

    .clearfix img {
        float: left;
        margin-right: 20px;
    }
}


@media screen and (min-width:992px) {

    .recipe-name {
        font-size: 40px;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 100%;
    }
    
    .recipe-description {
        width: 50%;
    }

    .quick-notes ul {
        display: grid;
        row-gap: 15px;
    }

    .btn {
        display: flex;
        width: calc((100%/5) - (80px/4));
    }

    .btn .label {
        display: inline-block;
        padding-left: 5px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .recipe-info {
        padding-bottom: 100px;
        width: 50%;
    }

    .recipe-video {
        height: auto;
    }

    .recipe-rating .btn {
        width: auto;
        padding: 10px 15px;
    }





}